<div
  class="seller-circle"
  [class.expanded]="hover"
  (mouseenter)="hover = true"
  (mouseleave)="hover = false"
>
  <!-- Свернутое состояние -->
  <div class="icon-text" *ngIf="!hover">
    <img src="assets/images/buyer.png" alt="Я Покупатель" class="icon-img" />
    <span>Я Покупатель</span>
  </div>

  <!-- Развёрнутое состояние -->
  <div class="expanded-content" *ngIf="hover">
    <img src="assets/images/buyer.png" alt="Авторизоваться" class="expanded-img" />
    <span class="expanded-text">Я Покупатель</span>
    <button class="login-btn" (click)="onLogin()">
      Авторизоваться
    </button>
  </div>
</div>
